.layout-header {
    background-color: white;
    border-bottom-width: 1px;
    height: auto;
    position: sticky;
    top: 0;
    padding: 0 5px 15px;
    z-index: 1;
}

.layout-main {
    border-left-width: 1px;
    border-right-width: 1px;
    margin: 0 auto;
    max-width: 80%;
    min-height: calc(100vh - 128px);
}

.layout-title {
    align-items: center;
    border-bottom-width: 1px;
    display: flex;
    height: 52px;
    padding: 0 15px;
}
